{% extends "layout-admin.njk" %}
{% block head %}
            <title>FoodFy - Create</title>
{% endblock %}
{% block content %}

<form id="recipe-form" method="POST" action="/admin/recipes">
    <div class="header-form">
        <h4>Criando receita</h4>
        <button class="btn-create" type="submit">Salvar receita</button>
    </div>
    {% include 'admin/fields.njk'%}
</form>

{% endblock content %}