{% extends "layout-admin.njk" %}
{% block head %}
            <title>FoodFy - Edit</title>
{% endblock %}
{% block content %}

<form id="recipe-form" method="POST" action="/admin/recipes?_method=PUT">
    <div class="header-form">
        <h4>Editando receita</h4>
        <div>            
            <button type="submit" form="form-recipes-delete" class="btn-delete">Deletar</button>                   
            <button type="submit" form="recipe-form" class="btn-create">Salvar receita</button>
        </div>
        
    </div>
    {% include 'admin/fields.njk'%}
    <input type="hidden" name="id" value="{{ recipe.id }}">
</form>
<form id="form-recipes-delete" action="/admin/recipes?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{ recipe.id }}">
</form>
{% endblock content %}