<div class="input-form">
    <h4>Nomde da receita</h4>
    <input type="text" name="title" id="" value="{{recipe.title}}">
    
</div>
<div class="input-form">
    <h4>Nome do chefe</h4>
    <input type="text" name="author" id="" value="{{recipe.author}}">
    
</div>
<div class="input-form">
    <h4>Imagen da receita</h4>
    <input type="text" name="image" id="" value="{{recipe.image}}">
    
</div>
<div class="input-form">
    <h4>Ingredientes</h4>
    <div id="ingredients">
        <div class="ingredient">
        {% if recipe.preparation == null %}
            <input type="text" name="ingredients[]" id="" value="{{ingredient}}">
        {% endif %}
        {% for ingredient in recipe.ingredients %}
            <input type="text" name="ingredients[]" id="" value="{{ingredient}}">
        {% endfor %}
        </div>       
    </div>
        <a href="#" class="add-ingredient">Adicionar novo ingrediente</a>
</div>
<div class="input-form">
    
    <h4>Modo de preparo</h4>
    <div id="prepars">
        <div class="prepare">
        {% if recipe.preparation == null %}
            <input type="text" name="preparation[]" id="" value="{{preparation}}">
        {% endif %}

        {% for preparation in recipe.preparation %}
            <input type="text" name="preparation[]" id="" value="{{preparation}}">
        {% endfor %}
        </div>       
    </div>       
    <a href="#" class="add-prepare">Adicionar novo ingrediente</a>
</div>
<div class="input-form-text">
    <h4>Informações adicionais</h4>
    <textarea name="information" id="" cols="30" rows="15" >
       {{recipe.information}}
    </textarea>
</div>
