{% extends "layout.html" %}

{% block content %}
    <main>
        <section>
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </section>
        <img src="../assets/chef.png" alt="">
    </main>

    <article>
        <h2>Mais acessadas</h2>
        <div class="cards">
            {% for recipe in items %}
                <div class="card-receita">
                    <img src="{{recipe.image}}" alt="{{recipe.image}}">
                    <h2 id="titulo">{{recipe.title}}</h2>
                    <p>Recibe by: {{recipe.author}}</p>
                </div>
            {% endfor %}
        </div>

    </article>
{% endblock %}