{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="../styles/recipe.css">
{% endblock head %}

{% block content %}
    <article>
        
        <div class="cards">
            {% for recipe in items %}
            <div class="card-receita">
                <img src="{{recipe.image}}" alt="{{recipe.image}}">
                <h2 id="titulo">{{recipe.title}}</h2>               
                    <a class="read" href="/recipes/{{recipe.index}}">Read More</a>                         
                <p>Recibe by: {{recipe.author}}</p>
            </div>
            {% endfor %}
            
        </div>
        
        

    </article>

{% endblock %}