.recipe {
    font-weight: 600;
}

.read {
    position: absolute;
    width: 70%;
    background: var(--rose);
    border-radius: 15px;
    text-align: center;
    color: var(--grey-text);
    text-decoration: none;
    padding: 2% 0%;
    margin-top: -60px;
    margin-left: 45px;

    cursor: pointer;
}


.active {
    visibility: visible;
}

